*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.txt
*.d
*.ncu-rep
__pycache__/
*/printouts/*
tests/unit/build/
*.o
build/
*.egg-info/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.rocprofv3
*.so
*.amdgcn
*.co
*.bak
*.bak.*
*.messy_backup
core.*
gpucore.*
*.hipv4-amdgcn-amd-amdhsa--*
utils/__pycache__/
*x86_64-unknown-linux-gnu*
*amdhsa.hipfb
*amd-amdhsa-gfx950.hipi
*amd-amdhsa-gfx950.bc
kernels/attn/gqa_causal/_bench_inner.py


!CMakeLists.txt